workflows/n8n/mira_apis/debug_file_upload_workflow.json
{
    "nodes": [
        {
            "parameters": {
                "formTitle": "上传文件测试",
                "formFields": {
                    "values": [
                        {
                            "fieldLabel": "file",
                            "fieldType": "file",
                            "multipleFiles": false,
                            "requiredField": true
                        },
                        {
                            "fieldLabel": "素材库id",
                            "placeholder": "请输入素材库ID",
                            "requiredField": true
                        },
                        {
                            "fieldLabel": "文件夹",
                            "placeholder": "文件夹名称（可选）"
                        },
                        {
                            "fieldLabel": "标签",
                            "placeholder": "用逗号分隔多个标签"
                        }
                    ]
                },
                "options": {
                    "ignoreBots": true
                }
            },
            "type": "n8n-nodes-base.formTrigger",
            "typeVersion": 2.2,
            "position": [
                288,
                128
            ],
            "id": "1e19b0d0-939a-4577-a502-f6a4d00e3671",
            "name": "文件上传表单",
            "webhookId": "file-upload-form"
        },
        {
            "parameters": {
                "jsCode": "// Debug: Inspect the data structure\nconst inputData = $input.all();\n\nconsole.log('=== INPUT DATA DEBUG ===');\nconsole.log('Number of items:', inputData.length);\n\nfor (let i = 0; i < inputData.length; i++) {\n  console.log(`\\n--- Item ${i} ---`);\n  console.log('JSON keys:', Object.keys(inputData[i].json || {}));\n  console.log('JSON data:', JSON.stringify(inputData[i].json, null, 2));\n  \n  if (inputData[i].binary) {\n    console.log('Binary keys:', Object.keys(inputData[i].binary));\n    \n    Object.keys(inputData[i].binary).forEach(key => {\n      const binaryData = inputData[i].binary[key];\n      console.log(`Binary[${key}]:`, {\n        fileName: binaryData.fileName,\n        mimeType: binaryData.mimeType,\n        fileSize: binaryData.data ? binaryData.data.length : 'no data',\n        id: binaryData.id\n      });\n    });\n  } else {\n    console.log('No binary data found');\n  }\n}\n\nreturn inputData;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                488,
                128
            ],
            "id": "debug-node",
            "name": "数据结构调试"
        },
        {
            "parameters": {
                "tokenSource": "input",
                "accessToken": "mira-token-1-1755904810547-9c70962a10fe6f67a467bbdfe8859d1c57e8c38a9d7ec66f90dc68161694a7cd",
                "serverUrl": "http://localhost:8081",
                "libraryId": "={{ $('文件上传表单').item.json['素材库id'] }}",
                "binaryPropertyName": "file",
                "tags": "={{ $json['标签'] || '' }}",
                "folderId": "={{ $json['文件夹'] || '' }}"
            },
            "type": "CUSTOM.miraFileUpload",
            "typeVersion": 1,
            "position": [
                688,
                128
            ],
            "id": "15475458-3376-4a70-9bb9-6689df623359",
            "name": "上传到 Mira"
        }
    ],
    "connections": {
        "文件上传表单": {
            "main": [
                [
                    {
                        "node": "数据结构调试",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "数据结构调试": {
            "main": [
                [
                    {
                        "node": "上传到 Mira",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "abe2a09b2ef5660ef8a2dbbe628e3a16ce0dd70fa8c8e37437fa2afceac1eacc"
    }
}