workflows/n8n/mira_apis/fixed_file_upload_workflow.json
{
    "name": "文件上传测试工作流",
    "nodes": [
        {
            "parameters": {
                "formTitle": "上传文件测试",
                "formFields": {
                    "values": [
                        {
                            "fieldLabel": "file",
                            "fieldType": "file",
                            "multipleFiles": false,
                            "requiredField": true
                        },
                        {
                            "fieldLabel": "素材库id",
                            "fieldType": "text",
                            "requiredField": true
                        },
                        {
                            "fieldLabel": "文件夹",
                            "fieldType": "text"
                        },
                        {
                            "fieldLabel": "标签",
                            "fieldType": "text"
                        }
                    ]
                },
                "options": {
                    "ignoreBots": true
                }
            },
            "type": "n8n-nodes-base.formTrigger",
            "typeVersion": 2.2,
            "position": [
                -400,
                200
            ],
            "id": "32b39cd6-aec6-4019-af9d-bc9beb94de1e",
            "name": "On form submission",
            "webhookId": "3a67a393-6bab-492e-81e2-969eaa89cb3d"
        },
        {
            "parameters": {},
            "type": "CUSTOM.miraLogin",
            "typeVersion": 1,
            "position": [
                -200,
                200
            ],
            "id": "a4f203eb-b556-4d11-bbbc-6ea7862ad35b",
            "name": "Mira Login",
            "credentials": {
                "MiraLoginCredential": {
                    "id": "3qYsPbasrLPXZgvZ",
                    "name": "Mira Login account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// 调试：查看输入数据结构\nconsole.log('Input data:', JSON.stringify($input.all(), null, 2));\n\n// 检查二进制数据\nif ($input.item.binary) {\n  console.log('Binary data keys:', Object.keys($input.item.binary));\n  for (const key of Object.keys($input.item.binary)) {\n    const binaryData = $input.item.binary[key];\n    console.log(`Binary ${key}:`, {\n      fileName: binaryData.fileName,\n      mimeType: binaryData.mimeType,\n      fileSize: binaryData.fileSize\n    });\n  }\n}\n\n// 检查 JSON 数据\nconsole.log('JSON data:', $input.item.json);\n\nreturn $input.all();"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                0,
                200
            ],
            "id": "debug-node-001",
            "name": "调试数据结构"
        },
        {
            "parameters": {
                "tokenSource": "input",
                "accessToken": "={{ $json.data.accessToken }}",
                "serverUrl": "http://localhost:8081",
                "libraryId": "={{ $json['素材库id'] }}",
                "binaryPropertyName": "data",
                "tags": "={{ $json['标签'] }}",
                "folderId": "={{ $json['文件夹'] }}"
            },
            "type": "CUSTOM.miraFileUpload",
            "typeVersion": 1,
            "position": [
                200,
                200
            ],
            "id": "8d7a2174-2bd3-41f9-ac77-02f03ead7f09",
            "name": "Mira File Upload"
        }
    ],
    "connections": {
        "On form submission": {
            "main": [
                [
                    {
                        "node": "Mira Login",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mira Login": {
            "main": [
                [
                    {
                        "node": "调试数据结构",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "调试数据结构": {
            "main": [
                [
                    {
                        "node": "Mira File Upload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "abe2a09b2ef5660ef8a2dbbe628e3a16ce0dd70fa8c8e37437fa2afceac1eacc"
    }
}