workflows/n8n/mira_apis/webhook_file_upload_workflow.json
{
    "name": "Mira 文件上传 - Webhook 版本",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "upload-file",
                "responseMode": "responseNode"
            },
            "id": "webhook-trigger",
            "name": "Webhook 文件上传",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:8081/api/files/upload",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer mira-token-1-1755904810547-9c70962a10fe6f67a467bbdfe8859d1c57e8c38a9d7ec66f90dc68161694a7cd"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "multipart-form-data",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "libraryId",
                            "value": "={{ $json.libraryId || $json['素材库id'] || $json.library_id }}"
                        },
                        {
                            "name": "payload",
                            "value": "={{ JSON.stringify({ data: { tags: $json.tags ? $json.tags.split(',').map(tag => tag.trim()).filter(tag => tag) : ($json['标签'] ? $json['标签'].split(',').map(tag => tag.trim()).filter(tag => tag) : []), folder_id: $json.folderId || $json['文件夹'] || $json.folder_id || null } }) }}"
                        },
                        {
                            "parameterType": "formBinaryData",
                            "name": "files",
                            "inputDataFieldName": "file"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "json"
                        }
                    }
                }
            },
            "id": "upload-to-mira",
            "name": "上传到 Mira API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                400,
                300
            ],
            "retryOnFail": true,
            "maxTries": 3,
            "waitBetweenTries": 1000,
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "responseBody": "={{ $json }}",
                "responseCode": "={{ $json.status >= 400 ? $json.status : 200 }}"
            },
            "id": "respond-webhook",
            "name": "响应 Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                600,
                300
            ]
        }
    ],
    "connections": {
        "Webhook 文件上传": {
            "main": [
                [
                    {
                        "node": "上传到 Mira API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "上传到 Mira API": {
            "main": [
                [
                    {
                        "node": "响应 Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "1",
    "meta": {
        "templateCredsSetupCompleted": true
    }
}